body {
    background: #ffffff;
}

h1 {
    color: #E2341D;
    margin: 10px 0 0;
    font-size: 28px;
    font-family: 'Times New Roman', Georgia, Times, Serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}